@import "tailwindcss";

@theme {
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-blue-500: #3b82f6;
  --color-green-500: #22c55e;
  --color-red-500: #ef4444;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-500: #6b7280;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
}
